//-
   Created by yarvyk on 12.08.2014.

doctype html
html(ng-app="jApp")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/angular.js")
        script(src="/javascripts/ang1.js")
    body(ng-controller="jListCtrl")

        p Angular tutorial lessons 1-6.

        div
            input(ng-model="jQuery")
        div
            select(ng-model="jOrderProp")
                option(value="name") By name
                option(value="date") By date
            //-
                input(ng-model="jQuery.$") // all
                input(ng-model="jQuery.name")
                input(ng-model="jQuery.snippet")
        div
            ul
                li(ng-repeat="elem in jElements | filter:jQuery | orderBy:jOrderProp")
                    span {{elem.name}}
                    a(ng-src='{{elem.id}}') {{elem.id}}
                    img(ng-src='{{elem.image}}', style='-webkit-filter: invert(100%);')
                    span :
                    br
                    span {{elem.snippet}} ({{elem.date}})
