//
   Created by jaric on 11.08.2014.

extends layout
block content
    h1= title
    p Welcome to #{title}
    p asd1
    p asd2
    p asd3
    p asd4
    p asd5
    p asd6
    p asd7
    p asd8

    script(src="/javascripts/d3.js")
    script(src="/javascripts/d3t1.js")